@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Limit Custom CSS code box size */
#txtCustomCss, #txtLocalCustomCss {
    height: 400px !important;
    max-height: 400px !important;
    overflow-y: scroll !important;
    resize: vertical !important;
}
.customCssContainer textarea {
    height: auto !important;
}

/* Video Playback Progress Bar */
.mdl-slider-background-lower {
    background: #add1de !important;
}

.iconOsdProgressInner {
  background: #cbebf7;
  border-radius: .25em;
  height: 100%;
}


.layout-desktop .skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.osdHeader {
  background: linear-gradient(0deg, rgb(5.49% 11.373% 11.765% / 0) 0%, rgb(5.49% 11.373% 11.765% / 0.07508285522460938) 6.25%, rgb(5.49% 11.373% 11.765% / 0.13656005859375) 12.5%, rgb(5.49% 11.373% 11.765% / 0.18618392944335938) 18.75%, rgb(5.49% 11.373% 11.765% / 0.2255859375) 25%, rgb(5.49% 11.373% 11.765% / 0.2562767028808594) 31.25%, rgb(5.49% 11.373% 11.765% / 0.27964599609375) 37.5%, rgb(5.49% 11.373% 11.765% / 0.2969627380371094) 43.75%, rgb(5.49% 11.373% 11.765% / 0.309375) 50%, rgb(5.49% 11.373% 11.765% / 0.31791000366210936) 56.25%, rgb(5.49% 11.373% 11.765% / 0.32347412109375) 62.5%, rgb(5.49% 11.373% 11.765% / 0.3268528747558594) 68.75%, rgb(5.49% 11.373% 11.765% / 0.3287109375) 75%, rgb(5.49% 11.373% 11.765% / 0.3295921325683594) 81.25%, rgb(5.49% 11.373% 11.765% / 0.32991943359375003) 87.5%, rgb(5.49% 11.373% 11.765% / 0.32999496459960936) 93.75%, rgb(5.49% 11.373% 11.765% / 0.33) 100% );
}


/* Edge & Chrome browser & JMP */

.slider-browser-edge{margin-left:-.16em;margin-right:-.16em;width:150%}.mdl-slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;background:#add1de;}
.navMenuOption:hover {
  background: rgba(0, 164, 220, 0.2);
  color: white;
  padding-left: 15% !important;
  font-weight: 700 !important;
}

.mdl-slider::-moz-range-thumb {
  background: #cbebf7 !important;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #cbebf7 #0000 !important;
}

.sliderMarker.watched {
  background-color: #cbebf7;
}

.pageTitleWithDefaultLogo {
  background-image: url(https://i.imgur.com/gp44vKV.png);
}

/*Spinner*/
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
    border-color: #cbebf7 !important;
}

.starIcon {
  margin-bottom: 0.2em;
}

.mediaInfoCriticRating {
  margin-bottom: 0.2em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fff #0000 !important;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  background: #182c33 !important;
}

/* Progress ring */
.progressring-spiner {
  border-color: #cbebf7;
  border-width: .35em;
}
.progressring {
    margin: .4em;
}
.progressring-bg {
   display: none;
}

.cardBox:not(.visualCardBox) .cardPadder {
  background-color: transparent !important;
  box-shadow: 0 .0725em .29em 0 rgba(0,0,0,0);
}

/* Dashboard & button colours */

.css-17c09up.Mui-selected {
  background-color: #425359;
  font-weight: 700 !important;
}

.css-17c09up.Mui-selected .css-37qkju {
  color: rgba(255, 255, 255, 1);
}

.css-37qkju {
  color: rgb(255, 255, 255);
}

.css-17c09up.Mui-selected:hover {
  background-color: #425359;
}

.css-17c09up:hover {
  text-decoration: none;
  background-color: rgba(28, 21, 21, 0.37);
}

.css-1ip8vbj.Mui-selected {
  background-color: #425359;
}

.css-1ip8vbj.Mui-selected:hover {
  background-color: #425359;
}

.css-1ip8vbj:hover {
  text-decoration: none;
  background-color: rgba(28, 21, 21, 0.37);
}

.css-77wcaa .MuiAlert-icon {
  color: #377991;
}

.css-1fv02xh {
  background-color: rgba(255, 255, 255, 1);
}

.css-1fv02xh:hover {
  background-color: #cbebf7;
}

.css-77wcaa {
  background-color: #425359;
}

.css-195jjve {
  background-color: #425359;
}

.css-1pjtbja {
  color: #fff;
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected {
  background-color: #cbebf7;
}

.css-1jmiiw3 .MuiDataGrid-row.Mui-selected:hover {
  background-color: #cbebf7;
}

#dashboardPage .listItemIcon.material-icons.notifications {
  background-color: #425359 !important;
}

.material-icons.favorite,
.material-icons.detailButton-icon.check.playstatebutton-icon-played,
.material-icons.detailButton-icon.check.playstatebutton-icon-unplayed,
.material-icons.detailButton-icon.theaters,
.material-icons.detailButton-icon.more_vert,
.material-icons.detailButton-icon.shuffle,
.material-icons.detailButton-icon.play_arrow,
.material-icons.detailButton-icon.explore,
.material-icons.detailButton-icon.replay {
  font-family: 'Material Icons';
filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

progress::-moz-progress-bar {
  background-color: #cbebf7;
}
progress::-webkit-progress-value {
  background-color: #cbebf7;
}
.taskProgressInner {
  background: #cbebf7 !important;
}
#divRunningTasks span {
    color: #cbebf7 !important;
}

.listItemIcon:not(.listItemIcon-transparent) {
  background-color: #425359;
  border-radius: 100em;
  color: #fff;
  padding: .5em;
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #cbebf7;
        background-color: #425359;
    }
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #cbebf7;
        background-color: #42535970;
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #cbebf7;
    background-color: #425359;
}

.paper-icon-button-light.show-focus:focus {
    color: #cbebf7;
}

.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
  background-color: #cbebf7;
}

.button-submit {
  background: #425359;
  color: #fff;
}

.button-submit:focus {
    background: #fff;
    color: #000;
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #cbebf7;
}

.defaultCardBackground1 {
    background-color: #425359;
}

.defaultCardBackground2 {
    background-color: #182c33;
}

.defaultCardBackground3 {
    background-color: #194554;
}

.defaultCardBackground4 {
    background-color: #397082;
}

.defaultCardBackground5 {
    background-color: #125b73;
}

.itemSelectionPanel {
    border: 1px solid #cbebf7;
}

.selectionCommandsPanel {
    background: #cbebf7;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #cbebf7;
}

.alphaPickerButton {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  margin-bottom: 0.21em;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #425359;
    color: #fff !important;
}

.progressring-spiner {
    border-color: #cbebf7;
}

.button-flat:hover {
    color: #cbebf7;
}

.button-link {
  color: #fff;
}

/*Change Intro Skip Color*/
#skipIntro .emby-button:hover,
#skipIntro .emby-button:focus {
    background-color: #cbebf7;
    transform: scale(1.05);
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: white;
}

.emby-select-withcolor:focus {
    border-color: #cbebf7 !important;
}

.emby-select-tv-withcolor:focus {
    background-color: #cbebf7 !important;
    color: #fff !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
    border-color: #cbebf7;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #cbebf7;
}

.itemProgressBarForeground-recording {
    background-color: #cbebf7;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #cbebf7;
}

.navMenuOption-selected {
    background: #425359 !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #425359;
    color: #fff;
}

.emby-tab-button.show-focus:focus {
    color: #425359;
}

.emby-tab-button:hover {
    color: #cbebf7;
}

.programCell-sports {
    background: #425359 !important;
}

.programCell-movie {
    background: #425359 !important;
}

.programCell-kids {
    background: #425359 !important;
}

.programCell-news {
    background: #425359 !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #425359 !important;
    color: #fff !important;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #425359;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #425359;
}

.buttonActive {
    color: #cbebf7 !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #425359 !important;
}

.itemsContainer > .card > .cardBox {
  margin-left: 0.3em !important;
  margin-right: 1.2em;
  transition: color 1s;
}

.itemsContainer > .card > .cardBox:hover {
  color: #cbebf7;
}

.cardText.cardTextCentered.cardText-secondary {
  transition: color 1.6s;
  font-weight: 700;
}

#indexPage .cardText.cardTextCentered.cardText-secondary {
  font-weight: 500;
}

.itemsContainer > .card > .cardBox:hover .cardText.cardTextCentered.cardText-secondary {
  color: #cbebf7;
}

.metadataSidebarIcon {
    color: #cbebf7;
}

.layout-tv .emby-button.detailFloatingButton:focus {
    background-color: #fff;
    color: #425359;
}

#dialogToc .bookplayerButtonIcon:hover {
    color: #425359;
}

#dialogToc .toc li a:active,
#dialogToc .toc li a:hover {
    color: #425359;
}

/*Make watched icon and count indicator dark and red*/
.innerCardFooter,
.countIndicator, 
.playedIndicator {
  background: linear-gradient(to right, rgba(26, 98, 125, 0.8) 0%, rgba(139, 212, 240, 0.8) 100%);
  box-shadow: none;
  color: #fff;
}

.ratingbutton-icon-withrating {
    color: #dd424a;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #dd424a;
}

.playstatebutton-icon-played {
    color: #dd424a;
}

.buttonActive {
    color: #cbebf7 !important;
}

.layout-desktop #videoOsdPage .osdRatingsText {
  opacity: 0;
}

.itemsContainer.padded-left::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    background-attachment: fixed;
    backdrop-filter: blur(10px) brightness(80%);
}

#itemDetailPage .itemsContainer.padded-left::before {
    backdrop-filter: blur(0px);
}

.layout-desktop .dashboardSection, .content-primary {
	scroll-snap-align: start;
}

.layout-desktop .backgroundContainer.withBackdrop {
  background: linear-gradient(0deg, rgb(2.745% 7.059% 11.765%) 0%, rgb(2.745% 7.059% 11.765% / 0.823974609375) 6.25%, rgb(2.745% 7.059% 11.765% / 0.669921875) 12.5%, rgb(2.745% 7.059% 11.765% / 0.536376953125) 18.75%, rgb(2.745% 7.059% 11.765% / 0.421875) 25%, rgb(2.745% 7.059% 11.765% / 0.324951171875) 31.25%, rgb(2.745% 7.059% 11.765% / 0.244140625) 37.5%, rgb(2.745% 7.059% 11.765% / 0.177978515625) 43.75%, rgb(2.745% 7.059% 11.765% / 0.125) 50%, rgb(2.745% 7.059% 11.765% / 0.083740234375) 56.25%, rgb(2.745% 7.059% 11.765% / 0.052734375) 62.5%, rgb(2.745% 7.059% 11.765% / 0.030517578125) 68.75%, rgb(2.745% 7.059% 11.765% / 0.015625) 75%, rgb(2.745% 7.059% 11.765% / 0.006591796875) 81.25%, rgb(2.745% 7.059% 11.765% / 0.001953125) 87.5%, rgb(2.745% 7.059% 11.765% / 0.000244140625) 93.75%, rgb(2.745% 7.059% 11.765% / 0) 100% );
}

.layout-desktop .skinHeader-withBackground {
	background: #07121e96;
	backdrop-filter: blur(7px);
	position: fixed;
	top: 0em;
	max-height: 4em;
}

.layout-desktop .skinHeader.semiTransparent {
	background: transparent;
	position: fixed;
	top: 0em;
	scroll-snap-align: start;
}
  
.layout-desktop .skinHeader.semiTransparent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background: #07121e96;
  backdrop-filter: blur(7px);
  z-index: -1;
  scroll-snap-align: start;
}

.homeLibraryButton {
	margin: .5em !important;
	min-width: 11%;
	justify-content: center;
	background: #07121e96;
	border-radius: 0.2em;
	transition: color 0.6s;
}

.layout-desktop .homeLibraryButton:hover {
	color: #cbebf7;
}

.homeLibraryText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1em;
}

.raised {
  color: rgba(255, 255, 255, 0.87);
  background: #07121e96;
}

.layout-desktop .raised.button-submit.block.btnSave.emby-button {
	scroll-snap-align: unset;
}

.layout-desktop #homeScreenPreferencesPage .listItem {
	scroll-snap-align: unset;
}

.mainDrawer, .drawer-open {
	background: #0b1515c2;
	backdrop-filter: blur(7px);
}

.navMenuOption:hover {
  background-color: rgba(0, 164, 220, 0.2);
}

.layout-desktop #homeTab .sections.homeSectionsContainer {
	margin-left: -2em;
	max-width: 102vw !important;
	margin-top: 2em;
}

.alphaPicker-fixed-right {
    right: 1em;
    right: max(env(safe-area-inset-right),1em);
    z-index: 10;
  }

.layout-desktop .detailPageWrapperContainer {
	position: absolute;
	background: transparent;
	top: 100vh;
}

.layout-desktop .detailPageWrapperContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #07121e96;
  backdrop-filter: blur(7px);
  z-index: -1; 
  pointer-events: none;
}

.layout-desktop .detailLogo {
  position: fixed;
  left: 1.425em;
  display: block;
  filter: drop-shadow(-6px 2px 4px rgba(2, 2, 2, 0.85));
  top: 42.8em;
  padding-top: 0em;
  height: 16em;
  width: 32em;
}

.layout-desktop .detailImageContainer .card {
  left: 1%;
  max-height: none;
  top: 6.5em;
  width: 25vw;
}

.layout-desktop .itemName.parentNameLast {
	position: absolute;
	top: 0.85em;
	font-size: 1.25em;
	max-width: 26em;
	left: 12em;
	transform: translateX(-50%);
	font-weight: 700;
}

.layout-desktop #liveTvSuggestedPage .cardText {
	background: transparent;
}

.layout-desktop .itemName.originalTitle {
  margin: .2em 0 .2em;
  position: absolute;
  left: 16.4em;
  transform: translateX(-50%);
  top: 0.2em;
}

.layout-desktop .subtitle {
  margin: 0em 0 0.2em;
    margin-left: 0px;
  margin-left: -1em;
  padding-left: 1em;
}

.MuiBox-root.css-k008qs .cardText {
	background: transparent;
}

.layout-desktop .mainDetailButtons.focuscontainer-x {
  position: absolute;
  bottom: -1.1em;
  left: 30vw;
  z-index: 50;
  width: 40vw;
  justify-content: space-between;
}

.layout-desktop .mainDetailButtons.focuscontainer-x:hover {
  opacity: 1;
  transition-delay: 0s;
}

.layout-desktop .mainDetailButtons {
  font-size: 138%;
  margin: 1.25em 0;
  position: relative;
}

.layout-desktop .mainDetailButtons {
    position: relative;
}

.layout-desktop .mainDetailButtons:hover::before {
    height: 161%;
  transition-delay: 0s;
}

.layout-desktop .itemMiscInfo.itemMiscInfo-primary {
	position: absolute;
	right: 1em;
	font-size: 1.1em;
	bottom: 0.75em;
	font-weight: 700;
	width: 31em;
	justify-content: space-evenly;
}

.layout-desktop .itemBackdrop {
  -webkit-animation: backdrop-fadein .8s ease-in normal both;
  animation: backdrop-fadein .8s ease-in normal both;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

@media (min-width: 100em) {
  .headerTop {
    padding: .61em .2em;
  }
}

.layout-desktop .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  bottom: 0em;
}

.layout-desktop .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon::before {
	content: '';
	position: absolute;
	top: -4em;
	left: 0;
	right: 0;
	height: 4em;
	background-color: transparent;
	z-index: -1;
	scroll-snap-align: start;
}

.layout-desktop .detailRibbon {
  height: 5em;
  margin-top: -5em;
}

.preload {
  background-color: #101010;
  scroll-snap-type: y mandatory;
}

.layout-desktop #itemDetailPage div:not(.sectionTitleContainer-cards) > .sectionTitle-cards {
  margin: 0;
  padding-bottom: .2em;
  padding-top: .5em;
  scroll-snap-align: unset;
  font-weight: 600;
}

.layout-desktop .detailPageSecondaryContainer {
  padding-top: 1.25em;
  width: 100vw;
}

.layout-desktop .listItem {
  padding: .25em .25em .25em .5em;
  text-align: left;
  scroll-snap-align: start;
  transition: background 0.3s;
}

.listItem:hover {
  background: #07121e96;
}

.layout-desktop #childrenContent .listItemImage-large {
	background-position: 50%;
	height: 7.875vw;
	margin-right: .75em;
	width: 14vw;
	cursor: pointer;
}

.layout-desktop #childrenContent .listItemBodyText.secondary.listItem-overview.listItemBodyText {
  transition: filter 0.8s, opacity 0.8s;
  filter: blur(40px);
  opacity: 0.1;
}

.layout-desktop #childrenContent .listItemBodyText.secondary.listItem-overview.listItemBodyText:hover {
	filter: blur(0px);
	opacity: 1;
}

.layout-desktop .musicParentName {
	margin: .15em 0 .2em;
	position: absolute;
	left: -0.5em;
	top: -0.5em;
	font-size: 1.25em;
	overflow: hidden;
	height: 1.4em;
	transform: translateX(0%);
	width: 25em;
	text-align: center;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.layout-desktop .trackSelections {
  max-width: 52em;
  width: 52em;
}

.layout-desktop .detailsGroupItem, .trackSelections .selectContainer {
  display: -webkit-flex;
  display: flex;
  margin: 0 0 .5em !important;
  max-width: 52em;
}

.layout-desktop .tagline {
  position: fixed;
  top: 50.5em;
  left: 1em;
  font-weight: 600;
  width: 27.65em;
  text-align: center;
}

.layout-desktop .detailRibbon {
	background: #07121e96;
	backdrop-filter: blur(8px);
}

.layout-desktop [dir="ltr"] .detailPageContent {
  padding-left: 28.45vw;
  padding-right: 0;
}


.layout-desktop #childrenContent .childrenItemsContainer.itemsContainer.padded-right.vertical-wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 0em;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  max-width: 100%;
  box-sizing: border-box;
}

.cardText {
  white-space: nowrap;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.cardText-secondary {
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.sectionTitle.sectionTitle-cards.padded-left {
	filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
	font-weight: 400;
}

.layout-desktop .nameContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  left: 2em;
  top: 0.75em;
}

.layout-desktop .detail-clamp-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  font-size: 1.3em;
}

.layout-desktop #childrenContent .starRatingContainer {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
  opacity: 0;
}

.layout-desktop .itemTags.focuscontainer-x .button-link.emby-button {
  font-style: italic;
  padding-bottom: 1em;
}

.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.emby-scroller-container {
  padding-top: 0.37em;
}

.layout-desktop .padded-bottom-page {
  padding-bottom: 0em !important;
  padding-bottom: calc(env(safe-area-inset-bottom) + 0em) !important;
}

.portraitCard, .squareCard {
    width: 11.75em;
}

.padded-right-withalphapicker {
    padding-right: 7.5%;
    padding-right: max(env(safe-area-inset-right),5.5%) !important;
	justify-content: space-evenly;
  }

.cardBox.cardBox-bottompadded {
	transition: background 0.3s;
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	background: #07121e96;
}

.cardBox.cardBox-bottompadded:hover {
	background: #07121e96;
}

.cardBox.cardBox-bottompadded:hover .cardOverlayButton-br.flex {
	background: linear-gradient(180deg, rgb(0% 0% 0% / 0) 0%, rgb(0% 0% 0% / 0.14082031250000002) 6.25%, rgb(0% 0% 0% / 0.26406250000000003) 12.5%, rgb(0% 0% 0% / 0.3708984375) 18.75%, rgb(0% 0% 0% / 0.4625) 25%, rgb(0% 0% 0% / 0.5400390625) 31.25%, rgb(0% 0% 0% / 0.6046875) 37.5%, rgb(0% 0% 0% / 0.6576171875000001) 43.75%, rgb(0% 0% 0% / 0.7000000000000001) 50%, rgb(0% 0% 0% / 0.7330078125) 56.25%, rgb(0% 0% 0% / 0.7578125) 62.5%, rgb(0% 0% 0% / 0.7755859375) 68.75%, rgb(0% 0% 0% / 0.7875000000000001) 75%, rgb(0% 0% 0% / 0.7947265625000001) 81.25%, rgb(0% 0% 0% / 0.7984375) 87.5%, rgb(0% 0% 0% / 0.7998046875) 93.75%, rgb(0% 0% 0% / 0.8) 100% );
}

.cardOverlayContainer {
  background: rgba(0, 0, 0, 0.25);
  border-radius: .2em;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardOverlayButton-br {
  width: -moz-available;
  justify-content: space-evenly;
}

.flex.align-items-center.justify-content-center.flex-wrap-wrap.padded-top.padded-left.padded-right.padded-bottom.focuscontainer-x {
	filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}

.textActionButton:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #cbebf7;
}

.itemsContainer > .card > .cardBox:hover .cardText {
  color: #cbebf7;
}

.cardText.cardTextCentered.cardText-first {
	transition: color 0.6s;
}

.cardText.cardTextCentered.cardText-secondary {
	transition: color 1s;
	font-weight: 700;
}

#itemDetailPage .emby-select-withcolor {
  color: inherit;
  background: #101e1f4a;
  border: 0.07em solid #292929;
}

/* Hide My Media text on desktop */
.layout-desktop #homeTab .section0 .sectionTitle.sectionTitle-cards.padded-left {
	display: none;
}

.nowPlayingInfoContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  background: #07121e12;

}

.layout-desktop .nowPlayingInfoContainer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	pointer-events: none;
	scroll-snap-align: start;
}

.layout-desktop .nowPlayingInfoContainer::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #07121e96;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
}

.layout-desktop #itemDetailPage .sectionTitle::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4em;
    background-color: transparent;
    z-index: -1;
    scroll-snap-align: start;
    margin-top: -4em;
}

.layout-desktop #musicRecommendedPage .flex.align-items-center.justify-content-center.flex-wrap-wrap.padded-top.padded-left.padded-right.padded-bottom.focuscontainer-x::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 6em;
    background-color: transparent;
    z-index: -1;
    margin-top: -6em;
}

.layout-desktop #songsTab .flex.align-items-center.justify-content-center.flex-wrap-wrap.padded-top.padded-left.padded-right.padded-bottom.focuscontainer-x::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 6em;
    background-color: transparent;
    z-index: -1;
	scroll-snap-align: start;
    margin-top: -6em;
}

#playlist .listItem {
	background: #07121e12;
}

#playlist .listItem:hover {
	background: #07121e96;
}

.layout-desktop .appfooter {
  background: #07121e96;
  backdrop-filter: blur(7px);
}

.layout-desktop .playlistSectionButton {
  background: #07121e12;
}

@media (min-width: 100em) {
  .pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 3.7em !important;
  }
}

@media (max-width: 100em) {
  .sectionTabs {
    font-size: 100%;
  }
}

.layout-desktop .nextUpSection.verticalSection.detailVerticalSection {
	position: absolute;
	top: -25em;
	right: 4.45em;
}

.layout-desktop #itemDetailPage .nextUpSection.verticalSection.detailVerticalSection .sectionTitle.sectionTitle-cards:before {
	scroll-snap-align: unset !important;
}

.layout-desktop #itemDetailPage .nextUpSection.verticalSection.detailVerticalSection .cardBox.cardBox-bottompadded {
	background: transparent;
}

#scenesContent .innerCardFooter {
	background: #07121e96;
	min-width: 33.333%;
}


.layout-desktop .itemMiscInfo.itemMiscInfo-primary::before {
	content: '';
	position: fixed;
	top: -98vh;
	left: 0;
	right: 0;
	height: 4em;
	z-index: -1;
	scroll-snap-align: end;
}

.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container {
	position: absolute;
	top: -20em;
	right: 0em;
	width: 62%;
}

.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container .card.overflowBackdropCard.card-hoverable.card-withuserdata {
	width: 12.5vw;
}

.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container .sectionTitle {
	filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

.layout-desktop #itemDetailPage .verticalSection.detailVerticalSection.moreFromSeasonSection.emby-scroller-container .sectionTitle.sectionTitle-cards.padded-right::before {
	filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
	scroll-snap-align: unset;
}

.layout-desktop .subtitleSync {
  position: absolute;
  width: 100%;
  margin-top: 4em !important;
}

/* 768p */

@media only screen and (min-width: 800px) and (max-width: 1400px) {
	body {
		font-size: 73%;
	}
	.layout-desktop .detailPagePrimaryContent {
		font-size: 98.5%;
	}
	.sectionTabs {
		margin-top: -2em;
	}
	.layout-desktop .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon::before {
		top: -3.83em;
		height: 3.83em;
	}
}

/* 1440p */

@media (min-width: 1930px) {
	body {
		font-size: 133.3333%;
	}
	.layout-desktop .detailPagePrimaryContent {
		font-size: 98.5%;
	}
	.layout-desktop .mainDrawer.transition.touch-menu-la.drawer-open {
		width: 21em !important;
	}
	.layout-desktop .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon::before {
		top: -3.97em;
		height: 3.97em;
	}
}

/* 4k */

@media (min-width: 2570px) {
	body {
		font-size: 200%;
	}
}

/* MOBILE */

.layout-mobile .itemBackdrop {
	display: block;
	background-attachment: fixed;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh !important;
	position: fixed !important;
	top: 0em;
	width: 100%;
}

@media (orientation: portrait) {
	.layout-mobile  .itemDetailPage {
		padding-top: 50vh !important;
	}
	.layout-mobile [dir="ltr"] .mainDetailButtons {
		margin-bottom: 0;
		padding-left: 0;
		justify-content: space-between;
	}
}

@media (orientation: landscape) {
	.layout-mobile  .itemDetailPage {
		padding-top: 50vh !important;
	}
	.layout-mobile [dir="ltr"] .infoWrapper {
		padding-left: 29.5%;
	}
	.layout-mobile [dir="ltr"] .mainDetailButtons {
		margin-left: 0;
		padding-left: 29.5%;
	}
}

@media (orientation: landscape) and (min-width: 50em) {
	.layout-mobile [dir="ltr"] .infoWrapper {
		padding-left: 0%;
	}
	.layout-mobile [dir="ltr"] .mainDetailButtons {
		margin-left: 0;
		padding-left: 0%;
	}
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
	background: #07121e96;
	backdrop-filter: blur(8px);
}

.layout-mobile .detailPageSecondaryContainer.padded-bottom-page {
	background: #07121e96;
	backdrop-filter: blur(8px);
}
